<!-- <p>enquiry works!</p> -->


<div id="two" class="container">

    <div class="jumbotron">

        <h1 id="one">ENQUIRY FORM</h1>


        <form [formGroup]="enquiryform">




            <div class="mb-3">

                <label for=""><strong>Name</strong> </label>

                <input type="text" formControlName="name" name="name" id="" class="form-control">

            </div>


            <div id="emailHelp" *ngIf="enquiryform.controls.name.touched && enquiryform.controls.name.errors "
            style="color: red;" class="form-text"> name is required *</div>
           



            


            <div class="mb-3">

                <label for=""><strong>Phone Number</strong> </label>

                <input type="text" formControlName="phoneNumber" name="phonenumber" id="" class="form-control">

            </div>
            <div id="emailHelp" *ngIf="enquiryform.controls.phoneNumber.touched && enquiryform.controls.phoneNumber.errors "
            style="color: red;" class="form-text"> PhoneNumber is required *</div>
           
            
           




            <div class="mb-3">

                <label for=""><strong> E-mail</strong></label>

                <input type="text" formControlName="email" name="email" id="" class="form-control">

            </div>

            <div id="emailHelp" *ngIf="enquiryform.controls.email.touched && enquiryform.controls.email.errors "
            style="color: red;" class="form-text">Email is required *</div>
           



           
            <div class="mb-3">

                <label for=""><strong>Message</strong> </label>

                <textarea formControlName="message"  class="form-control transparent-input" placeholder="Leave a message here...!!" name="floatingTextarea" rows="4"
                cols="40"></textarea>

               
            </div>

           
            <div id="emailHelp" *ngIf="enquiryform.controls.message.touched && enquiryform.controls.message.errors "
            style="color: red;" class="form-text"> Message is required *</div>
           
            <hr>

            
            <div class="mb-3">

                <button (click)="sumbit()" class="btn btn-primary">Sumbit</button>

            </div>


        </form>


    </div>










</div>